extends layout

block content

  h1 #{title}: #{artist.name}

  p Do you really want to delete this Artist?
  p This will also delete their songs from your playlist. 

  form(method='POST')
    div.form-group
      input#artistid.form-control(type='hidden', name='artistid', value=artist._id )

    button.btn.btn-primary(type='submit') Delete
