extends layout

block content
  h1= title

  p The current number of artists is: !{artist_count}

  if artist_list.length
    ul
      each artist in artist_list
        li
          p. 
            #{artist.name} #[a( href='/artists'+artist.url+'/delete' ) Delete]

  else
    p There are no artists.

  a(href='/artists/add') Add Artist
