extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Dynamic content

  p The current number of artists is: !{artist_count}

  if artist_list.length
    ul
      each artist in artist_list
        li
          p #{artist.name}

  else
    p There are no artists.
