extends layout

block content
  h1= title

  p The current number of artists is: !{artist_count}
  a(href='/artists/add?watchlist=' + watchlist) Add Artist

  if artist_list.length
    table(border='1')
      tr 
        th Artist 
        th Artist Run
        th Delete?
        th Swap?
      each artist in artist_list
        tr
          td #{artist.name}
          td #[a( href='/artists'+artist.url+'/run' ) Run]
          td #[a( href='/artists'+artist.url+'/delete?watchlist=' + watchlist ) Delete]
          td #[a( href='/artists'+artist.url+'/swap?watchlist=' + watchlist ) Swap]
  else
    p There are no artists.
