extends layout

block content
  - var auth = process.env.ACCESS_TOKEN === "" ? false : true
  h1= title
  p Welcome to #{title}

  if !auth
    h2= Login 
    p You need to log in first 
    a(href='http://localhost:3000/login') Login
  else
    h2= "What would you like to do?"
    a(href="http://localhost:3000/run") Run (get latest releases from artists)
    br
    a(href="http://localhost:3000/createFromDB") Run (create playlist from tracks in DB)
    br
    a(href="http://localhost:3000/artists") View / Edit Artists
    br
    a(href="http://localhost:3000/tracks") View / Edit Tracks
    br
    a(href="http://localhost:3000/refresh") Refresh Cache
