extends layout

block content
  h1= title
  p Are you sure you want to do this?!?!
  p This will refresh any state, no previous deletions will matter, running after this will add all songs

  a(href='/refresh/confirm') Confirm