extends layout

block content

  h1 #{title}: #{track.name}

  p Do you really want to delete this track from the database and the playlist?

  form(method='POST')
    div.form-group
      input#trackid.form-control(type='hidden', name='trackid', value=track._id )

    button.btn.btn-primary(type='submit') Delete
